@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="text"],
input[type="password"] {
  border-color: #999;
  border-radius: 3px;
  border-width: 1px;
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}
